.navigation {
  background-color: rgba(#fff, 0.6);
  grid-column: 2 / span 8;
  padding: 0 1rem 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__bar {
    font-size: 1.4rem;
    cursor: pointer;
  }

  &__search {
    border-radius: 100px;
    border: 1px solid #ccc;
    padding: 0.6rem 2.2rem;
    width: 25rem;
    background-color: inherit;
    font-family: inherit;

    &:focus {
      outline: none;
      font-family: inherit;
    }
  }

  &__img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}
