.sidebar {
  background-color: $color-secondary;
  grid-row: 1 / span 7;
  padding: 2.5rem;

  &__nav {
    list-style: none;
    margin-top: 4rem;
  }

  &__item {
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    & i {
      margin-right: 1.2rem;
    }
  }
}
